<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="./app.js" defer></script>
    <title>Pomodoro Timer</title>
</head>
<body id="">
    <nav>
        <p class="nav-name">Pomodoro</p>
    </nav>
    <main class="" id="app">
        <div class="bubble">
            <div class="timer">{{ Math.trunc(remainingSeconds / 60) }}:{{ remainingSecondsFix }}</div>
            <div class="wave" v-bind:style="{minHeight: percentage + '%'}" v-bind:class="{'study-wave': state=='study', 'break-wave': state == 'break'}"></div>
        </div>

        <div class="button-container" v-if="state == 'await'">
            <button onclick="app.study();">Study</button>
        </div>
        <div class="button-container" v-if="state != 'await' && update == true" >
            <button onclick="app.pause();">Pause</button>
        </div>
        <div class="button-container" v-if="state != 'await' && update == false">
            <button onclick="app.reset();">Reset</button>
            <button onclick="app.resume();">Resume</button>
        </div>
    </main>
</body>
</html>